# NOTE: these tasks will not work unless you install the extension into your Azure DevOps Organization
# https://marketplace.visualstudio.com/items?itemName=AzureSynapseWorkspace.synapsecicd-deploy

steps:

# optional full task name: AzureSynapseWorkspace.synapsecicd-deploy.toggle-trigger.toggle-triggers-dev@2
- task: toggle-triggers-dev@2
  inputs:
    azureSubscription: 'serviceConnection' # Specify the Azure DevOps Service Connection with access to deploy to the target Synapse workspace
    ResourceGroupName: 'rgName' # Provide the name of the resource group that contains the target Synapse Workspace
    WorkspaceName: 'synapseWorkspaceName' # Enter the Synapse workspace name located in the resource group that you specified
    ToggleOn: false # False to toggle triggers off
    Triggers: 'trigger1,trigger2' # Comma separated triggers to be toggled. '*' for all triggers. Optional, default is '*'

# optional full task name: AzureSynapseWorkspace.synapsecicd-deploy.synapse-deploy.Synapse workspace deployment@2
# Deploy
- task: Synapse workspace deployment@2
  inputs:
    operation: 'deploy' # Select the operation to be performed. Optional, default is 'Deploy'
    TemplateFile: 'path/to/TemplateForWorkspace.json' # Specify the path or a pattern pointing to the ARM template from the 'workspace_publish' branch
    ParametersFile: 'path/to/TemplateParametersForWorkspace.json' # Specify the path or a pattern pointing to the parameters file for the ARM template from the 'workspace_publish' branch
    azureSubscription: 'serviceConnection' # Specify the Azure DevOps Service Connection with access to deploy to the target Synapse workspace
    ResourceGroupName: 'rgName' # Specify the resource group of the target Synapse workspace
    TargetWorkspaceName: 'synapseWorkspaceName' # Enter the Synapse workspace name located in the resource group that you specified
    DeleteArtifactsNotInTemplate: true # If true, all artifacts in the workspace, not present in the template will be deleted. sqlpools, sparkpools, integration runtimes will not be deleted
    DeployManagedPrivateEndpoints: true # If true, the extension will deploy all managed private endpoints in the template.
    OverrideArmParameters: '-key1 value1 -key2 value2' # Enter any ARM parameters that you want to override, separated by a space
    FailOnMissingOverrides: true # If true, the extension will fail if ARM overrides are not provided

# optional full task name: AzureSynapseWorkspace.synapsecicd-deploy.toggle-trigger.toggle-triggers-dev@2
- task: toggle-triggers-dev@2
  inputs:
    azureSubscription: 'serviceConnection' # Specify the Azure DevOps Service Connection with access to deploy to the target Synapse workspace
    ResourceGroupName: 'rgName' # Provide the name of the resource group that contains the target Synapse Workspace
    WorkspaceName: 'synapseWorkspaceName' # Enter the Synapse workspace name located in the resource group that you specified
    ToggleOn: true # True to toggle triggers on
    Triggers: 'trigger1,trigger2' # Comma separated triggers to be toggled. '*' for all triggers. Optional, default is '*'
