# Example pipeline to do CI/CD for Azure Synapse Analytics
# Read more here:  https://www.nathannellans.com/post/ci-cd-with-azure-synapse-analytics

# NOTE: the tasks below will not work unless you install this extension into your Azure DevOps Organization:
# https://marketplace.visualstudio.com/items?itemName=AzureSynapseWorkspace.synapsecicd-deploy

trigger: 'none' # disable CI trigger
pr: 'none' # disable PR trigger

parameters:

#!! UPDATE THESE VARIABLES TO MATCH YOUR ENVIRONMENT
variables:
  azureServiceConnection: '' # Azure DevOps 'Service Connection' of type Azure Resource Manager

  sourceSynapse: '' # name of the source Synapse instance
  
  destSynapseRg: '' # name of the resource group for the destination ADF instance
  destSynapse: '' # name of the destination Synapse instance
  
  # Override parameters for the destination Synapse instance
  destSynapseParams: >-
    -factoryName $(destSynapse)
    -key value
    -key value

resources:
  repositories:
  #!! UPDATE THIS TO MATCH YOUR ENVIRONMENT
  - repository: 'synapseTemplates'
    type: 'github'
    name: 'nnellans/azure-synapse-analytics' # github repo where the workspace_publish branch is located
    ref: 'workspace_publish' # name of the publish branch
    endpoint: '' # Azure DevOps 'Service Connection' of type GitHub

pool:
  vmImage: 'ubuntu-latest'

steps:

# checks out the workspace_publish branch where the Synapse templates are stored
# the settings for this repo are defined above, in the 'resources' section
# checks out to relative path 's/synapseTemplates' so that we can access it via $(System.DefaultWorkingDirectory)/synapseTemplates
- checkout: 'synapseTemplates'
  path: 's/synapseTemplates'

steps:

# Disable Triggers
- task: toggle-triggers-dev@2
  inputs:
    azureSubscription: '$(azureServiceConnection)'
    ResourceGroupName: '$(destSynapseRg)'
    WorkspaceName: '$(destSynapse)'
    ToggleOn: false # False to toggle triggers off
    Triggers: 'trigger1,trigger2' # Comma separated triggers to be toggled. '*' for all triggers. Optional, default is '*'

# Deploy Synapse artifacts to another environment
- task: Synapse workspace deployment@2
  inputs:
    operation: 'deploy' # Optional, default is 'Deploy'
    TemplateFile: '$(System.DefaultWorkingDirectory)/synapseTemplates/$(sourceSynapse)/TemplateForWorkspace.json'
    ParametersFile: '$(System.DefaultWorkingDirectory)/synapseTemplates/$(sourceSynapse)/TemplateParametersForWorkspace.json'
    azureSubscription: '$(azureServiceConnection)'
    ResourceGroupName: '$(destSynapseRg)'
    TargetWorkspaceName: '$(destSynapse)'
    DeleteArtifactsNotInTemplate: true # If true, all artifacts in the workspace, not present in the template will be deleted. sqlpools, sparkpools, integration runtimes will not be deleted
    DeployManagedPrivateEndpoints: true # If true, the extension will deploy all managed private endpoints in the template.
    OverrideArmParameters: '$(destSynapseParams)'
    FailOnMissingOverrides: true # If true, the extension will fail if ARM overrides are not provided

# Enable Triggers
- task: toggle-triggers-dev@2
  inputs:
    azureSubscription: '$(azureServiceConnection)'
    ResourceGroupName: '$(destSynapseRg)'
    WorkspaceName: '$(destSynapse)'
    ToggleOn: true # True to toggle triggers on
    Triggers: 'trigger1,trigger2' # Comma separated triggers to be toggled. '*' for all triggers. Optional, default is '*'
